
<!DOCTYPE html>
<html>
<head link="black" alink="000000" vlink="000000">
  <title>Form</title>  
      <link rel="stylesheet" href="{#'static /css/index.css'#}">  
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{#'static /css/book.css'#}">
    <script src="{#static '/js/book.js'#}"></script>
</head>

<body>
    <header style="background: #ededed"></header>
    <section style="background: #ededed">
        <img src="{#'static image/book.png'#}" style="margin-left: 440px; margin-top: 50px; width: 500px; height: auto"/>
    <div id="rectangle">
        <div class="column">
            <p style="text-align: left; font-size: 36px"><b>Strategy Session Application</b></p>
            <p style="text-align: left; font-size 20px">Please fill out this form as best as possible</p>
            <hr style="width: 90%; margin-left: 5%; background: $000000">
            </div>
            <p class="txt">Your Name *</p><br/>
            <input type="text" size="75">
            <input type="text" size="75">
            <div class="columns">
                <div class="column">
                    <p style="text-align: left">First Name</p>
                </div>
                <div class="column">
                    <p style="text-align: left">Last Name</p>
                </div>
            </div>
        <hr>
        <p class="txt">Phone Number *</p>
        <input type="text" size="154">
        <hr>
        <p class="txt">Email</p>
        <input type="text" size="154">
        <p>example@example.com</p>
        <hr>
        <p class="text">What are you doing for work right now?</p>
        <input type="txt" size="154">
        <hr>
        <p class="txt">What is your website?</p>
        <input type="text" size="154">
        <hr>
        <p class="txt">List all the names and links of your social media. (Youtube, Podcast, Facebook, etc)</p>
        <textarea cols="156" rows="7"></textarea>
        <hr>
        <p class="txt">What ULTIMATELY do you want to do for work?</p>
        <input type="text" size="154">
        <hr>
        <p class="txt">Please Describe In GREAT Detail What Travis Can Do For You? *</p>
        <textarea cols="156" rows="12"></textarea>
        <hr>
        <p class="txt">On a scale 1-10 how ready are you to make MASSIVE TRANSFORMATION in your life right now? *</p>
        <textarea cols="156" rows="1">1,2,3,4,5,6,7,8,9,10</textarea>
        <hr>
        <p class="txt">Why are you that particular number?</p>
        
        <hr>
        <p class="txt">On a scale 1-10 how serious are you about your goals right now?</p>
        <textarea cols="156" rows="1">1,2,3,4,5,6,7,8,9,10</textarea>
        <hr>
        <p class="txt">On a scale 1-10 how coachable are you?</p>
        <textarea cols="156" rows="1">1,2,3,4,5,6,7,8,9,10</textarea>
        <hr>
        <p class="txt">What Programs Are You Wanting To Learn More About? **CLICK ALL THAT APPLY *</p>
        <input type="checkbox" name=1>Group Transformation Program (Reborn)<br/>
        <input type="checkbox" name=2>1 on 1 Coaching<br/>
        <input type="checkbox" name=3>Next Generational Coach Certification<br/>
        <input type="checkbox" name=4>Attending Seminars, Workshops<br/>
        <input type="checkbox" name=5>Presentations for my team or company<br/>
        <input type="checkbox" name=6>Creating a unique demo video and/or website<br/>
        <hr>
        <p class="txt">What are your biggest roadblocks or barriers that are keeping you stuck right now OR IN THE FUTURE?S</p>
        <textarea cols="156" rows="12"></textarea>
        <hr>
        <p class="txt">Please Describe Why Specifically You Want To Work With Travis? What are your goals? How can Travis help you? *</p>
        <textarea cols="156" rows="12"></textarea>
        <hr>
        <p class="txt">If Travis invited you to join the exclusive transformation group program, what value and support could you add to the team? *</p>
        <textarea cols="156" rows="12"></textarea>
        <hr>
        <p class="txt">If Travis Invited You To Join His Program WHY Do You Feel You Would Be A Good Fit? *</p>
        <textarea cols="156" rows="12"></textarea>
        <hr>
        <p class="txt">What is your monthly goal income in the next 12 months? *</p>
        <input type="text" size="154">
        <hr>
        <p class="txt">When was the last time you checked your credit score? *</p>
        <input type="checkbox" name=1>1+ Years<br/>
        <input type="checkbox" name=2>6+ Months<br/>
        <input type="checkbox" name=3>3-6 Months<br/>
        <input type="checkbox" name=4>Less Than 3 Months<br/>
        <hr>
        <p class="txt">It's always good to know your credit score. If you haven't checked in the last 6 months then check it below using <a href="CreditKarma.com">CreditKarma.com</a> It's FREE and there is NO inquiry that will be put on your credit. </p>
        <hr>
        <p class="txt">What is your credit score?</p>
        <input type="checkbox" name=1>Excellent<br/>
        <input type="checkbox" name=2>Good<br/>
        <input type="checkbox" name=3>Below Average<br/>
        <input type="checkbox" name=4>Needs Improvement<br/>
        <hr>
        <p class="txt">Did you watch the videos from the link that was sent to you? (NOTE: They were on prior page.) *</p>
        <input type="checkbox" name=1>YES<br/>
        <input type="checkbox" name=2>NO<br/>
        <input type="checkbox" name=3><textarea rows="1">Other</textarea><br/>
        <hr>
        <p class="txt">IF THE ANSWER WAS NO. PLEASE GO BACK AND WATCH THEM BEFORE YOU MEET WITH TRAVIS FOR YOUR SESSION.</p>
        <hr>
        <p class="txt">THANKS!</p>
        <hr>
        <p class="txt">BE INSPIRED. BE STRONG.</p>
        <button type="button" class="button">Submit</button>
        </div>
    </section>
</body>
</html>
