<!DOCTYPE html>
<html>
<head link="black" alink="000000" vlink="000000">
  <title>Resources</title>  
      <link rel="stylesheet" href="{#'static /css/index.css'#}"> 
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{#'static /css/resources.css'#}">
</head>

<body>
  <header class="clearfix">
	<div class="logo">
        <a href="{# url 'moo:index' #}" style="margin-left: 100px" style="height: 100%; width: auto;"><img src="{%static '/image/logo.png'%}"/></a>
	</div>
      <p style="text-align: center;  font-size: 26px; font-weight: 700; margin-left: 500px"> NEXT GENERATION TRANSFORMATION <br/> COACH &amp; SPEAKER </p>
	<nav>
		<ul>
			<li>
				<b><a href="about.html">About Travis</a>
				<a href="speaking.html">Speaking</a>
				<a href="seminars.html">Seminars &amp; Workshop</a>
                <a href="resources.html">Resources</a>
                <a href="contact.html">Contact</a>
                <a href="book.html">Book Consultation</a></b>
			</li>
		</ul>
	</nav>
    </header>
    <section class="section">
        <div id="column">
            <p style="font-size: 30px; text-align: center">Transformational Resources</p>
        </div> 
        <div class="columns" style="margin-top: 25px">
            <div class="column">
                <p style="font-size: 30px; text-align: left; margin-top: 10%; margin-left: 30px">The 100k Coach's Impact &amp; Income Podcast<br/><br/></p>
                <p style="text-align: left; margin-left: 30px; font-size: 19px">The Purpose of This Podcast Is To Teach All Coaches How To Create A 6-<br/>Figure Income &amp; Impact Millions of People" Your host Travis J. Brady, leading <br/>Transformation Coach &amp; Leadership Speaker share his 16+ years of <br/>experience in the coaching industry and shares Next Generation <br/>transformation tools to help transform clients and blow up your bank <br/>account at the same time.<br/><br/></p>
                <a href="https://play.google.com/music/listen?t=The_100k_Coachs_Podcast&view=/ps/Ieyhduclfb34pkrg72y4wpvc7hu"><button type="button" class="button" style="margin-left: 30%">Download for Android</button></a><br/><br/><br/>
                <a href="https://itunes.apple.com/us/podcast/the-100k-coachs-podcast/id1350892910?mt=2"><button type="button" class="button" style="margin-left: 31%">Download for Apple</button></a>
            </div>
            <div class="column">
                <img src="{#'static /image/cover.jpg'#}" style="margin-left: 40px"/>
            </div>
        </div>
    </section>
    <section class="section">
            <div class="columns">
                <div class="column">
                    <img src="{#'static /image/cover2.jpg'#}" style="width: 900px;  height: 500px; margin-left: 15px"/>
                     <a href="http://bit.ly/TheNextGenCoachMasterMind"><button type="button" class="button" style="margin-left: 70px; margin-top: 15%">Join the Next Gen Coach Mastermind  Group</button></a>
                </div>
            </div>
    </section>
    <footer style="color: azure; background-color: black">
        <div id="rectangle">
            <div class="column">
                <p style="text-align: right; margin-right: 18%; margin-top: 8px; font-size: 17px">Copyright © 2018· Coach Travis Brady · Built by Ershov Copying</p>
            </div>
        </div>               
    </footer>
</body>

</html>
