<!DOCTYPE html>
<html>
<head link="black" alink="000000" vlink="000000">
  <title>Workshops</title>  
      <link rel="stylesheet" href="{#'static /css/index.css'#}">  
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{#'static /css/seminars.css'#}">
   
</head>

<body>
  <header class="clearfix">
	<div class="logo">
        <a href="{# url 'moo:index' #}" style="margin-left: 100px" style="height: 100%; width: auto;"><img src="{%static '/image/logo.png'%}"/></a>
	</div>
      <p style="text-align: center;  font-size: 26px; font-weight: 700; margin-left: 500px"> NEXT GENERATION TRANSFORMATION <br/> COACH &amp; SPEAKER </p>
	<nav>
		<ul>
			<li>
				<b><a href="about.html">About Travis</a>
				<a href="speaking.html">Speaking</a>
				<a href="seminars.html">Seminars &amp; Workshop</a>
                <a href="resources.html">Resources</a>
                <a href="contact.html">Contact</a>
                <a href="book.html">Book Consultation</a></b>
			</li>
		</ul>
	</nav>
    </header>
    <section>
        <img src="{#'static /image/seminars.png'#}" class="img1"/>
        <div class="columns">
            <div class="column">
                <p class="txt">STRENGTHEN YOUR WORLD</p><br/>
                <iframe width="652" height="366" src="https://www.youtube.com/embed/iWSPZ1yYTfk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 45px"></iframe>
                <a href="oops.html"><button type="button" class="button" style=" margin-left: 220px">Get Your Ticket to Strengthen Your World</button></a>
            </div>
            <div class="column">
                <p class="txt">THE COACH'S JOURNEY</p><br/>
                <iframe width="652" height="366" src="https://www.youtube.com/embed/pJ1bbsGl1-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 10px"></iframe>
                <a href="oops.html"><button type="button" class="button" style="margin-left: 220px">Get Your Ticket to The Coach's Journey</button></a>
            </div>
        </div>
        <div class="column">
            <p class="txt">UTAH PERSONAL TRAINER BUSINESS SUMMIT</p>
            <iframe width="652" height="366" src="https://www.youtube.com/embed/TWbxuNS2DPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 25%"></iframe><br/>
            <a href="oops.html"><button type="button" class="button" style="margin-left: 35%">Get Your Ticket to Utah Personal Trainer Business Summit</button></a>
        </div>
    </section>
    <footer style="color: azure; background-color: black">
        <div id="rectangle">
            <div class="column">
                <p style="text-align: right; margin-right: 18%; margin-top: 8px; font-size: 17px">Copyright © 2018· Coach Travis Brady · Built by Ershov Copying</p>
            </div>
        </div>              
    </footer>
</body>

</html>
