<!DOCTYPE html>
{% load static %}
<html>
<head link="black" alink="000000" vlink="000000">
  <title>Speaking</title>  
      <link rel="stylesheet" href="{#static '/css/index.css'#}">  
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
   <link rel="stylesheet" href="{#static '/css/speaking.css'#}">
</head>

<body>
  <header class="clearfix">
	<div class="logo">
         <a href="{# url 'moo:index' #}" style="margin-left: 100px" style="height: 100%; width: auto;"><img src="{%static '/image/logo.png'%}"/></a>
	</div>
      <p style="text-align: center;  font-size: 26px; font-weight: 700; margin-left: 500px"> NEXT GENERATION TRANSFORMATION <br/> COACH &amp; SPEAKER </p>
	<nav>
		<ul>
			<li>
				<b><a href="{# url 'moo:about' #}">About Travis</a>
				<a href="{# url 'moo:speaking' #}">Speaking</a>
				<a href="{# url 'moo:seminars' #}">Seminars &amp; Workshop</a>
                <a href="{# url 'moo:resources' #}">Resources</a>
                <a href="{# url 'moo:contact' #}">Contact</a>
                <a href="{# url 'moo:book' #}">Book Consultation</a></b>
			</li>
		</ul>
	</nav>
    </header>
    <section style="background: #f0ebeb">
        <div class="column" style="width: 100%; height: 100%; background: url(assets/image/slideshow/2.jpg)">
            <iframe width="1060" height="596" src="https://www.youtube.com/embed/NZ80WTG4PKM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 13%"></iframe><br/><br/>
            <a href="book.html"><button type="button" class="button" style="margin-left: 210px; width: 1000px">Want to Hire Travis? Book Here!</button></a>
        </div>
        <br/>
        <br/>
        <div class="columns" style="background: #f0ebeb">
            <div class="column">
                <img src="{#static '/image/speaking/century.png'#}"/>
            </div>
            <div class="column">
                <img src="{#static '/image/speaking/treasure.png'#}"/>
            </div>
            <div class="column">
                <img src="{#static '/image/speaking/lhm.png'#}"/>
            </div>
            <div class="column">
                <img src="{#static '/image/speaking/fluent.png'#}"/>
            </div>
            <div class="column">
                <img src="{#static '/image/speaking/city.png'#}"/>
            </div>
            <div class="column">
                <img src="{#static '/image/speaking/medusa.png'#}"/>
            </div>
            <div class="column">
                <img src="{#static '/image/speaking/rocky.png'#}"/>
            </div>
        </div>
         <br/>
         <br/>
    </section>
    <section style="background: #d4d4d4">
        <div class="columns">
            <div class="column" style="background: #FFFFFF">
                <br/><br/><br/><br/><br/><br/>
                <p class="head">Industry Speaking <br/>Leader</p><br/>
                <p class="next1"><b>More power than <br/>inspiration.</b> Inspired moments pass<br/>on, their power fading as tomorrow <br/>comes. Travis Brady focuses on <br/>experiences that last: getting right to <br/>the core ACTIONS to create lasting <br/>transformation in yourself and your <br/>team.<br/><br/></p>
                <p class="next2">That's why Travis has gained notoriety as <br/>the industry spreaking leader in leadership <br/>coaching, performance transformation and <br/>team building.<br/><br/>After you walk away from a Travis Brady <br/>event, you'll be empowered with actions, <br/>insights and RESULTS that work RIGHT <br/>NOW. </p><br/><br/><br/><br/><br/><br/>
            </div>
            <div class="column" style="background: #d4d4d4; margin-top: 11px">
                <iframe width="671" height="377" src="https://www.youtube.com/embed/CNishHSlYsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top:20%; margin-left: 1%"></iframe>
            </div>
        </div>
    </section>
    <section style="background: #f0ebeb">
        <br/>
        <br/>
        <br/>
        <div class="columns">
            <div class="column"> 
                <img src="{#static '/image/speaking/flury.png'#}" class="f1" style="width: 100%; height: auto; margin-left: 25%"/>
            </div>
            <div class="column"> 
                <img src="{#static '/image/speaking/city.png'#}" class="f1" style="margin-left: auto; height: auto; width: 100%"/>
            </div>
            <div class="column"> 
                <img src="{#static '/image/speaking/medusa.png'#}" class="f1" style="width: 100%; height: auto; margin-right: 25%"/>
            </div>
            <div class="column"> 
                <img src="{#static '/image/speaking/rocky.png'#}" class="f1" style="width: 100%; height: auto; margin-right: 25%"/>
            </div>
        </div>
        <br/>
        <br/>
    </section>
    <br/>
    <br/>
    <section>
        <div class="column"><p style="text-align: center; font-size: 38px">Keynotes Delivered By Travis Brady</p></div>
        <br/><br/>
        <div class="columns">
            <div class="column">
                <img src="{#static '/image/book/1.png'#}" style="width: 100%; height: 100%"/>    
            </div>
            <div class="column">
                <p class="h1"><b>Next Generation of Transformation: Creating Massive Change In Our Teams</b></p>
                <p class="it">In order to create transformation in our lives we have to create different behaviors. How many people actually change? We spend countless hours reading books, studying, and learning but why do so few actually make real changes in their work, productivity, and sales. This keynote is introducing concepts of “Next Generational” principles on transforming your life. What are the missing components and myths that continually hold us back? Travis’ teaches us how we can overcome our NATURAL behavioral tendencies and truly TRANSFORM OUR RESULTS AND LIVES!<br/><br/>The audience will walk away with a new found wisdom on how to change behaviors that aren’t serving them in the work place. They will be able to identify actions steps they need to take to create their outcomes, and how to identify plateaus in their life moving forward.<br/><br/></p>
                <a href="book.html"><button type="button" class="button" style="width: 150px">Book Now</button></a>
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <img src="{#static '/image/book/2.png'#}"/>
            </div>
            <div class="column">
                <p class="h1"><b>Strengthen Your Performance: Mastering The Mindset and Skillset of Success<br/></b></p>
                <p class="it">Body language is the main component of communication not just to others. But to ourselves! Are they adapting to new ideas and changes? Are they giving up? Do they shy away from what’s hard and do what convenient? People naturally lie to themselves about what’s holding them back. In this fun active presentation that anyone can participate in each person learns something very powerful about themselves that they can take with them and apply in their lives!<br/><br/>The audience member will very clearly take away hard evidence of what deep unconscious mindset is holding them back from creating results in their lives and exercises they can take into their daily routine to create massive transformation.<br/></p>
                <a href="book.html"><button type="button" class="button" style="width: 150px">Book Now</button></a>
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <img src="{#static '/image/book/3.png'#}"/>
            </div>
            <div class="column">
                <p class="h1"><b>The Coaches Journey: The Journey All Leaders Travel To Create More Leaders </b></p>
                <p class="it">Many leaders get stuck transferring their strengths to their team. If you had a clear roadmap on what to expect in your journey you would be more likely to succeed. When you look at all the coaches throughout history of any sport or business profession they all went through a similar journey. This presentation maps out the dangers, successes, and walls ahead that lie between them and being an amazing coach!<br/><br/>The audience will be able to clearly see the journey every successful leader and coach travels. Also they will walk away with a clear visual of where each member of their team is at in their development journey and the limiting beliefs that are holding them back from become a higher producer on the team. In addition they will have tools, strategies, and behavioral exercises to help each member become stronger in the work place.<br/><br/></p>
                <a href="book.html"><button type="button" class="button" style="width: 150px">Book Now</button></a>
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <p style="text-align: center; font-size: 40px">Travis Brady Workshops</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <img src="{#static '/image/book/4.png'#}"/>
            </div>
            <div class="column">
                <p class="h1"><b>Body Language on Steroids: Master Movement of The Body To Influence People</b></p>
                <p class="it">What is your body telling people? The body is the key to communication. Study after study shows that influence is through the body not the WORDS. In fact body language accounts for more than 2/3’s of communication! But it’s ignored! In this interactive training each person learns something about their communication that they were completely unaware of even doing. Then as a team they learn exercises on how to improve their body language.<br/><br/></p>
                <p class="it1">Most programs try to train the mind in order to influence the body, which never works long term. In order to train body language you have to move the body.<br/><br/>Every person will immediately leave the session with increased confidence and charisma. They will have the ability to close more sales, influence their customers, and create a great space for connectivity in the work place.<br/><br/></p>
                <a href="book.html"><button type="button" class="button" style="width: 150px">Book Now</button></a>
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <img src="{#static '/image/book/5.png'#}"/>
            </div>
            <div class="column">
                <p class="h1"><b>The Strength I See In You: Building A Supportive Team</b></p>
                <p class="it1">This is the KING OF ALL INSPIRATIONAL workshops. In this team interactive training each person dives deep into themselves to pull out an inspirational side of them that they didn’t know existed. Helping others to see the strengths of others so they can bring those strengths out to the work environment.<br/><br/>Every person will have an incredible sense of inspiration and positivity. They will have overwhelming feeling of connectedness with their team. There will be a new energy within the team of support and cooperation. Tasks, job, and projects will get done faster and sales will increase because of radiate energy.</p>
                <a href="book.html"><button type="button" class="button" style="width: 150px">Book Now</button></a>
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <img src="{#static '/image/book/6.png'#}"/>
            </div>
            <div class="column">
                <p class="h1" ><b>Team Strength Course</b></p>
                <p class="it">Every company want’s their employee’s to work together. But yet they try to train their “Mindset” to try to work together. IF YOU WANT THEM TO WORK TOGETHER…THEN THEY ACTUALLY HAVE TO WORK! In this full-activity training your employees are doing different exercises that help them learn about not only the importance of the team but how their showing up in those teams.<br/><br/></p>
                <a href="book.html"><button type="button" class="button" style="width: 150px">Book Now</button></a>
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <p style="text-align: center; font-size: 40px">Preview Travis Brady in Action</p> 
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <iframe width="1343" height="755" src="https://www.youtube.com/embed/y7khftpT0DY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 37px; margin-bottom: 70px"></iframe>
            </div>
        </div>
    </section>
    <footer style="color: azure; background-color: black">
        <div id="rectangle">
            <div class="column">
                <p style="text-align: right; margin-right: 18%; margin-top: 8px; font-size: 17px">Copyright © 2018· Coach Travis Brady · Built by Ershov Copying</p>
            </div>
        </div>               
    </footer>
</body>

</html>
