.p1{
    font-size: 40px;
    text-align: left;
    margin-top: 30%;
}
.p2{
    text-align: left;
    font-size: 26px;
    margin-left: 149px;
}
.p3{
    font-size: 40px;
    text-align: center;
}
.BUG1{
    margin-left: 25%;
    width: 60%;
    height: 90%;
}
.BUG2{
    margin-right: auto;
    width: 50%;
    height: 70%;
}
.cbs{
    margin-left: 40%;
    width: 30%;
    height: 90%;
}
.abc{
    margin-left: 20%;
    width: 70%;
    height: 90%
}
.five{
    margin-top: 5%;
    width: 60%;
    height: 60%;
}